/* Fonts */
.tinos-bold {
  font-family: "Tinos", serif;
  font-weight: 700;
  font-style: normal;
}

.dm-sans-regular {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Formating */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: blue solid 1px; */
}

a {
  color: #000;
}

/* Top section */

.top-section {
  width: 100%;
  height: 814px;
  position: relative;
}

nav {
  height: 110px;
  padding: 80px 80px 0 80px;
}

header {
  padding: 80px 80px 0 80px;
  height: 200px;
  margin: 40px 0px;
}
.hero-container {
  padding: 0 421px 0 0;
}

.hero-text {
  font-family: "Tinos";
  font-size: 42px;
  line-height: 40px;
  color: #303536;
  width: 859px;
}

.selector {
  width: 897px;
  height: 424px;
  padding: 80px 80px;
  color: #303536;
}

.selector-header {
  padding: 10px 10px;
  width: 253px;
  height: 44px;
}

.selector-header-text {
  font-family: "Dm Sans";
  text-transform: uppercase;
  font-weight: 400;
}

.selector-line {
  height: 2px;
  background-color: #303536;
  border: none;
}

.selector-card {
  padding: 20px 10px;
  display: flex;
  width: 737px;
}

.selector-card-text {
  font-family: "DM Sans";
  font-weight: 400;
  line-height: 35.2px;
  font-size: 32px;
  width: 641px;
  padding-right: 10px;
}

.selector-card-button {
  width: 74px;
  height: 50px;
  position: relative;
}

.arrow-image {
  width: 24px;
  height: 20px;
  position: absolute;
  top: 15px;
  left: 37px;
  cursor: pointer;
  transition: ease 0.5s;
}

.arrow-image:hover {
  transform: scale(1.5);
}

.background-image {
  position: absolute;
  width: 100%;
  top: -80px;
  z-index: -1;

  filter: grayscale(100%);
}

/* Advantages */
.advantages {
  height: 362px;
  padding: 0 75px 75px 75px;
  background-color: #fff;
}

.advantages-container {
  width: 1290px;
  padding-top: 70px;
  display: flex;
  gap: 30px;
}

.advantages-article {
  width: 300px;
  height: 217px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.advantages-article:hover .advantages-logo {
  animation: grow-and-shrink 2000ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes grow-and-shrink {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

.advantages-logo {
  width: 48px;
}

.advantages-text-container {
  height: 119px;
  font-family: "Poppins";
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.advantages-text-title {
  font-size: 36px;
  font-weight: 500;
  line-height: 43.2px;
  color: #1d1d1b;
}

.advantages-text-content {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: #848484;
}

/* Bloc */
.bloc {
  background-color: #303536;
  height: 662px;
  padding: 80px;
  display: flex;
  gap: 40px;
}

.bloc-container {
  display: flex;
  gap: 40px;
  height: 502px;
  color: #e7e5e4;
}

.bloc-column {
  width: 620px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bloc-column-title {
  font-family: "Tinos";
  font-weight: 700;
  font-size: 64px;
  line-height: 70.4px;
}

.bloc-column-subtitle {
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 32px;
  line-height: 35.2px;
}

.bloc-column-paragraph {
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 20.83px;
  margin-bottom: 10px;
}

/* About us */
.about-us {
  height: 657.89px;
  background-color: #f7f7f7;
  padding: 75px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.about-us-container {
  width: 1290px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.about-us-title {
  height: 43px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 36px;
  line-height: 43.2px;
  text-align: center;
  color: #1d1d1b;
}

.testimonial {
  padding: 50px 150px;
}

.testimonial-container {
  height: 236.89px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.stars-container {
  width: 116px;
  height: 18.89px;
}

.star-logo {
  width: 20px;
}

.testimonial-quote {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 24px;
  line-height: 38.4px;
  color: #000;
  text-align: center;
}

.avatar-container {
  width: 179px;
  height: 40px;
  color: #000;
}

.avatar-title {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1px;
  text-align: center;
}

.avatar-text {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  text-align: center;
}

.about-us-line {
  height: 2px;
  background-color: #e7e7e7;
  border: none;
}

.logos-container {
  display: flex;
  justify-content: space-between;
  height: 48px;
  width: 1290px;
}

.about-us-logo {
  height: 48px;
}

/* Form section  */

.form-section {
  height: 713px;
  padding: 75px;
  background-color: fff;
}

.form-container {
  width: 1290px;
  height: 563px;
  display: flex;
  gap: 50px;
}

.form-info {
  width: 620px;
  height: 116px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-info-title {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 2px;
  color: #f5333f;
  text-transform: uppercase;
}

.form-info-subtitle {
  height: 86px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 36px;
  line-height: 43.2px;
  color: #1d1d1b;
}

form {
  width: 620px;
  height: 563px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.form-line {
  display: flex;
  height: 80px;
  width: 620px;
  justify-content: space-between;
}

.input-container {
  width: 298px;
  height: 80px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

label {
  height: 24px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000;
}

#name,
#company,
#email,
#phone {
  padding: 12px;
  height: 48px;
  border-radius: 30px;
  border: 1px solid #aaaaaa;
  background-color: #fff;
}

.message-input {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#message {
  height: 180px;
  background-color: #fff;
  border-radius: 32px;
  border: 1px solid #aaaaaa;
  padding: 12px;
}

.checkbox-terms-label {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.submit-button-container {
  background-color: #000;
  width: 142.5px;
  height: 50px;
  padding: 10px 20px;
  border-radius: 60px;
  display: flex;
  gap: 15px;
  align-items: center;
}

.submit-button-container:active {
  transform: translate(3px, 3px);
}

#submit {
  border: none;
  height: 50px;
  background-color: #000;
  color: #ffffff;
  font-family: "Poppins";
  font-size: 20px;
  line-height: 20px;
  height: 20px;
  cursor: pointer;
}

.submit-arrow {
  filter: brightness(100);
  width: 25.5px;
  height: 20px;
}

/* Footer  */

footer {
  height: 449px;
  padding: 40px 80px 17px 80px;
  background-color: #303536;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.footer-links {
  width: 880px;
  height: 272px;
  padding: 49px 0;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.link-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.link-title {
  color: #edefee;
  font-family: "DM Sans";
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  text-align: center;
}

.link-mail,
.link-text {
  color: #fff;
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 22.4px;
  text-align: center;
  width: 280px;
  text-decoration: none;
}

.link-mail:hover {
  color: #e7e5e4;
}

.social-logo {
  transition: 0.5s ease;
}

.social-logo:hover {
  filter: brightness(80%);
  transform: scale(1.5);
}

.footer-credits {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 1280px;
  height: 80px;
}

.social-links {
  display: flex;
  gap: 12px;
  justify-content: center;
  height: 24px;
}

.credits {
  height: 24px;
  display: flex;
  gap: 24px;
  justify-content: center;
}

.credits-text {
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #fff;
  text-decoration: none;
}

.credits-links .credits-text:hover {
  color: #e7e7e7;
}

.credits-links {
  display: flex;
  gap: 24px;
}
