/* Fonts */
.tinos-bold {
  font-family: "Tinos", serif;
  font-weight: 700;
  font-style: normal;
}

.dm-sans-regular {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Formating */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: blue solid 1px;
}

/* Top section */

.top-section {
  width: 100%;
  height: 814px;
  position: relative;
}

nav {
  height: 110px;
  padding: 80px 80px 0 80px;
}

header {
  padding: 80px 80px 0 80px;
  height: 200px;
  margin: 40px 0px;
}
.hero-container {
  padding: 0 421px 0 0;
}

.hero-text {
  font-family: "Tinos";
  font-size: 42px;
  line-height: 40px;
  color: #303536;
  width: 859px;
}

.selector {
  width: 897px;
  height: 424px;
  padding: 80px 80px;
  color: #303536;
}

.selector-header {
  padding: 10px 10px;
  width: 253px;
  height: 44px;
}

.selector-header-text {
  font-family: "Dm Sans";
  text-transform: uppercase;
  font-weight: 400;
}

.selector-line {
  height: 2px;
  background-color: #303536;
  border: none;
}

.selector-card {
  padding: 20px 10px;
  display: flex;
  width: 737px;
}

.selector-card-text {
  font-family: "DM Sans";
  font-weight: 400;
  line-height: 35.2px;
  font-size: 32px;
  width: 641px;
  padding-right: 10px;
}

.selector-card-button {
  width: 74px;
  height: 50px;
  position: relative;
}

.arrow-image {
  width: 24px;
  height: 20px;
  position: absolute;
  top: 15px;
  left: 37px;
}

.background-image {
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: -1;
  filter: grayscale(100%);
}

/* Advantages */
.advantages {
  height: 362px;
  padding: 0 75px 75px 75px;
  background-color: #fff;
}

.advantages-container {
  width: 1290px;
  padding-top: 70px;
  display: flex;
  gap: 30px;
}

.advantages-article {
  width: 300px;
  height: 217px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.advantages-logo {
  width: 48px;
}

.advantages-text-container {
  height: 119px;
  font-family: "Poppins";
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.advantages-text-title {
  font-size: 36px;
  font-weight: 500;
  line-height: 43.2px;
  color: #1d1d1b;
}

.advantages-text-content {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.1px;
  color: #848484;
}

/* Bloc */
.bloc {
  background-color: #303536;
  height: 662px;
  padding: 80px;
  display: flex;
  gap: 40px;
}

.bloc-container {
  display: flex;
  gap: 40px;
  height: 502px;
  color: #e7e5e4;
}

.bloc-column {
  width: 620px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bloc-column-title {
  font-family: "Tinos";
  font-weight: 700;
  font-size: 64px;
  line-height: 70.4px;
}

.bloc-column-subtitle {
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 32px;
  line-height: 35.2px;
}

.bloc-column-paragraph {
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 20.83px;
  margin-bottom: 10px;
}

/* About us */
.about-us {
  height: 657.89px;
  background-color: #f7f7f7;
  padding: 75px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.about-us-container {
  width: 1290px;
  height: 399.89px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.about-us-title {
  height: 43px;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 36px;
  line-height: 43.2px;
  text-align: center;
  color: #1d1d1b;
}

.testimonial {
  padding: 50px 150px;
}

.testimonial-container {
  height: 236.89px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.stars-container {
  width: 116px;
  height: 18.89px;
}

.star-logo {
  width: 20px;
}

.testimonial-quote {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 24px;
  line-height: 38.4px;
  color: #000;
}

.avatar-container {
  width: 179px;
  height: 40px;
  color: #000;
}

.avatar-title {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1px;
  text-align: center;
}

.avatar-text {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  text-align: center;
}

.about-us-line {
  height: 2px;
  background-color: #e7e7e7;
  border: none;
}

.logos-container {
  display: flex;
  justify-content: space-between;
  height: 48px;
  width: 1290px;
}

.about-us-logo {
    height: 48px;
}
